#color-scheme {
  display: flex;
  height: 60vh;
}

.color-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.color-box {
  flex: 1;
}

.hex-value {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: monospace;
  background: #fff;
}
